*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat';
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}
.cursor{
    width: 25px;
    height: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
.cursor2{
    width: 300px;
    height: 300px;
    background-color: #96c11e77;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(25px);
}
#nav{
    height: 130px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    position: fixed;
    gap: 50px;
    z-index: 99;
}
.logo img{
    height: 80px;
    width: 80px;
}
#nav h4{
    font-weight: 500;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
 position: relative;
 background-color: rgba(0, 0, 0, 0.37);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95C11E;
    z-index:-1 ;
}

#page1 h1{
    font-size: 130px ;
    font-weight: 900;
    position: relative;
    
}
#page1 h2{
    font-size: 30px ;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px ;
    font-weight: 500;
    width: 40%;

}
#page2{
    width: 100%;
    height: 100vh;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'gilroy';
    -webkit-text-stroke: 2px #95C11E;
    color: transparent;

}
#scroller1{
    display: inline-block;
white-space: nowrap;
}
#scroller2{
    display: inline-block;
white-space: nowrap;
}



@keyframes scroll{
    from{
        
    }
}